@page "/"

<h1>.NET 5.0 Blazor Uploads</h1>
<p>Investigating the <b>InputFile</b> component</p>
<div>
    <InputFile OnChange="OnInputFileChange" multiple />
</div>

@code {
    
    async Task OnInputFileChange(InputFileChangeEventArgs e)
    {
        //todo: display file names
        //todo: save to the server side
    }
}

